sudo: required
dist: trusty
cache:
  apt: true
language: node_js
services:
node_js:
  - 6
  - 7
  - 8
  - 10
  - 11
before_script:
  - npm install -g codeclimate-test-reporter
  - npm install -g grunt-cli
  - npm install -d
branches:
  only:
    - master
script:
  - npm test
after_success:
  - codeclimate-test-reporter < ./coverage/lcov.info
addons:
  apt:
    packages:
      - libzmq3-dev
  code_climate:
    repo_token:
      secure: RfBkCMecHBDjc53d4qjjDyZpgY8TCR8L3UnDT5HrMYrzSEar66C9jbvDgdNZpnTe/tzQD16mTdDWW0u1MfAn5eH71kNhZXyvbBLmJZeErqOJZ15/ZRPrZjgAeAccUCCvsMDukgoxfLnxdC1Y0KRznnw27UzXTPWne/BChwKHXuo=
